@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&family=Oswald:wght@300;400;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,800;1,400;1,500;1,600;1,800&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,400;1,600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
}
body {
  background: #000;
}
h1,
h4 p,
a {
  color: azure;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.btn {
  padding: 12px 32px;
  font-size: 15px;
  text-transform: uppercase;
  background: rgb(6, 39, 99);
  color: blueviolet;
  border: 1px solid #ffffff;
  font-weight: 600;
  cursor: pointer;
}
.btn-light {
  background: transparent;
  color: azure;
}
.btn:hover {
  background: rgba(255, 255, 255, 0.2);
  color: azure;
  transition: 0.3s;
}
